.ipynb_checkpoints
__pycache__
*.pyc
codigos/data_post_pipeline
codigos/data_pre_pipeline

codigos/doc_standar_model.txt
codigos/PACC_versionchatgpt.py
codigos/PebbleAccretion_docs.md 
codigos/PebbleAccretion.py


docs_nogit/
