.ipynb_checkpoints
__pycache__
*.pyc
codigos/data_post_pipeline
codigos/data_pre_pipeline

codigos/doc_standar_model.txt
codigos/PACC_versionchatgpt.py
codigos/PebbleAccretion_docs.md 
codigos/PebbleAccretion.py

codigos/PA3Py/README.md
docs_nogit/

codigos/PA2Py

codigos/data_postpost_pipeline
codigos/all

codigos/data_gaps_pipeline


codigos/figs_gaps_pipeline